/*General*/
body{
  background-color: #f8ecf2;
}
.message-layout{
  padding-left: 2em;
}
a, a:hover, a:visited{
  text-decoration: none;
  cursor: pointer
}
.clickable{
  cursor: pointer;
}
.btn{
  padding: 0.5em 1em;
  font-weight: bold;
  width: fit-content;
}
.btn-positive, .btn-positive:hover, .btn-positive:visited, .btn-positive:active{
  background-color: green;
  color: #f8ecf2;
  font-size: 12pt;
}
.btn-neutral, .btn-neutral:hover, .btn-neutral:visited, .btn-neutral:active{
  background-color: #f8ecf2;
  color: #4d1933;
  border: 1px solid #4d1933;
  font-size: 12pt;
}
.btn-negative, .btn-negative:hover, .btn-negative:visited, .btn-negative:active{
  background-color: #cc0000;
  color: #f8ecf2;
  font-size: 12pt;
}
.message-title a, .message-title{
  color: #4d1933;
  font-weight: 600;
}
.message-desc{
  padding-left: 2em;
  border-left: 1px solid #4d1933;
}
.editable-message .message-item-title{
  font-weight: bold;
}
.editable-message textarea.message-item-desc{
  height: 10em;
}
/*Icons*/
.fa-envelope-open-text{
  color: #4d1933;
}
/*Header*/
.header{
  background-color: #862d59;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.logo .fas{
  font-size: 2.5em;
  color: #f8ecf2;
}

.header-username span{
  color: #f8ecf2;
  font-size: 1em;
  font-weight: bold;
}
.header-img{
  width: 3em;
  height: 2.5em;
  border: 1px solid black;
}
/*Container*/
.container-custom{
  height: 80vh;
}
.main-content{
  margin: 2rem 1rem;
}

/*Nav*/
.nav_item_home{
  margin-top: 0em ;
}
.nav_item {
  margin: 1em 1em 0em 0em;
  border-bottom: 1px solid #db8ab4;
  padding-bottom: 1em;
}
.nav_item--active{
  border-bottom: 1px solid #4d1933;
}
.nav-custom a.nav_item{
  color: #4d1933;
  font-weight: 500;
  font-size: 13pt;
}
/*Modal*/
.modal-header{
  border: none;

}
.modal-title{
  color: #4d1933;
}
.modal-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
}

/*Home*/
.welcome-text{
  color:#4d1933;
}
.avatar-main{
  width: 5em;
}
.guest-btn-section{
  align-items: center;
}
.sign-in-btn-section{
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 1em;
}
.sign-in-btn{
  font-size: 12pt;
  font-weight: bold;
  color: green;
  text-decoration: underline;
}
.auth-section{
  align-items: center;
}
.auth-section .avatar-main {
  width: 15em;
  height: 12em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.welcome-username{
  font-size: 2em;
  font-weight: bold;
}
/*Dashboard */
.message-list-item{
  height: 10vh;
  border-right: 1px solid #4d1933;
  border-radius: .25em;
  border-bottom: 1px solid #4d1933;
  text-overflow: ellipsis;
  padding: 0em 1.5em 0.5em 1em;
  margin-bottom: 1em;
}
.message-list-item .message-desc{
  padding-left: 2em;
  border-left: 1px solid #4d1933;
}
/*Message Layout*/
.auth-message-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em 0em 1em;
}
.auth-message-btns .btn{
  padding: 0.25em 1em;
}
.reply-section{
  margin: 2em 0em 0em 2em;
}
.reply-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reply-form .btn{
  margin-left: 92%;
}
.reply-item{
  margin-top: 1em;
  padding-left: 0.25em;
  background-color: #f2f2f2;
}
.reply-username{
  font-weight: bold;
}
.reply-text-section{
  padding-left: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*Footer*/
.footer{
  border-top: 1px solid lightpink;
  justify-content: center;
  padding: 1.5em 0em;
  margin:0.5em 15em 0em 15em;
  color: #4d1933;
  font-weight: bold;
}
.footer span, .footer a{  
  color: #4d1933;
}
